<h1>Order Details</h1>
<p>User: <%= @order.user.first_name %> <%= @order.user.last_name %></p>
<p>Organ: <%= @order.organ.name %></p>

<%= link_to 'Edit Order', edit_order_path(@order) %> |
<%= link_to 'Back to Orders', orders_path %>
