<div class="container">

  <%= simple_form_for @organ do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price, as: :decimal %>
    <%= f.input :age, as: :integer %>
    <%= f.input :robot_type, collection: Organ::ROBOT_TYPE %>
    <%= f.input :img_url %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

</div>
