<div class="container">
  <h1>Organ <%= @organ.name %></h1>
  <p><strong>Description:</strong> <%= @organ.description %></p>
  <p><strong>Price:</strong> <%= @organ.price %></p>
  <p><strong>Age:</strong> <%= @organ.age %></p>
  <p><strong>Bloody type:</strong> <%= @organ.bloody_type %></p>
  <%= image_tag @organ.img_url, style: "width: 250px"%>
  <div>
    <%= link_to "Edit Organ", edit_organ_path(@organ) %>
  </div>
  <div>
    <%= link_to "Delete Organ", organ_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
  <div>
    <%= link_to "Back to Organs", organs_path %>
  </div>
</div>
